// GLOBAL STYLES ------------------

html {
    scroll-behavior: smooth;
    font-family: 'Bungee', cursive;
}

h1, h2, h3, span, a {
    color: #FFF;
}

a {
    text-decoration: none;
    font-family: Helvetica;
}

// HEADER --------------------

header {
    display: flex;
    justify-content: space-between;
}

.header-tag {
    font-family: Helvetica;
    padding: 15px 0 0 20px;
    font-weight: 700;
    font-size: 19px;
    @media (min-width: 768px) {
        font-size: 28px;
    }
    @media (min-width: 1440px) {
        padding: 30px 0 0 30px;
    }
    @media (min-width: 1920px) {
        font-size: 40px;
        padding: 50px 0 0 100px;
    }
}

header nav {
    padding: 15px 20px 0 0;
    @media (min-width: 1440px) {
        padding: 30px 30px 0 0;
    }
    @media (min-width: 1920px) {
        padding: 50px 100px 0 0;
    }
}

header nav a {
    font-weight: 700;
    font-size: 20px;
    @media (min-width: 768px) {
        font-size: 30px;
    }
    @media (min-width: 1920px) {
        font-size: 42px;
    }
}

// ABOUT NAME --------------------

#about {
    background-color: $bg1;
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    position: relative;
    z-index: 1;
}

.about-text-wrapper {
    @media (min-width: 1024px) {
        margin: 150px 25px 0px 25px;
        display: flex;
        justify-content: space-between;
    }
    @media (min-width: 1440px) {
        font-size: 42px;
        margin: 180px 100px 0 0;
    }
    @media (min-width: 1920px) {
        margin: 250px 200px 0 150px;
    }
}

.about-name {
    width: 280px;
    margin: 90px auto 70px auto;
    @media (min-width: 768px) {
        width: 350px;
        margin: 130px auto 90px auto;
    }
    @media (min-width: 1024px) {
        margin: 30px 0 0 20px;
    }
    @media (min-width: 1440px) {
        width: 450px;
        margin: 20px 0 0 50px;
    }
}

.about-name h1 {
    font-size: 27px;
    margin: 0px;
    @media (min-width: 768px) {
        font-size: 34px;
    }
    @media (min-width: 1440px) {
        font-size: 44px;
    }
}

.divider {
    border-bottom: 2px solid rgb(255, 255, 255);
    width: 90%;
    margin: 5px 0px;
}

.about-name h2 {
    font-size: 19px;
    @media (min-width: 768px) {
        font-size: 24px;
    }
    @media (min-width: 1440px) {
        font-size: 31px;
    }
}

// ABOUT CONTACT --------------------

.about-contact {
    width: 280px;
    margin: auto;
    text-align: center;
    @media (min-width: 768px) {
        width: 350px;
    }
    @media (min-width: 1024px) {
        margin: 0;
    }
    @media (min-width: 1440px) {
        width: 350px;
    }
}

.contact-list-img {
    width: 50px;
    @media (min-width: 768px) {
        width: 60px;
    }
    @media (min-width: 1440px) {
        width: 70px;
    }
}


.about-contact h2 {
    font-size: 32px;
    padding-bottom: 10px;
    @media (min-width: 768px) {
        font-size: 40px;
    }
    @media (min-width: 1440px) {
        font-size: 48px;
    }
}

.contact-list {
    display: flex;
    justify-content: space-between;
}

// ABOUT PROFILE IMG --------------------

.about-profile-img-div {
    position: absolute;
    bottom: 0;
    text-align: center;
}

.about-profile-img {
    width: 90%;
    @media (min-width: 768px) {
        width: 70%;
    }
    @media (min-width: 1920px) {
        width: 55%;
    }
    
    
}

// PORTFOLIO ---------------------

#portfolio {
    background-color: $bg2;
}

#portfolio h2 {
    font-size: 32px;
    text-align: center;
    padding: 50px;
    @media (min-width: 768px) {
        font-size: 50px;
    }
    @media (min-width: 1920px) {
        font-size: 70px;
        padding-bottom: 100px;
    }
}

.portfolio-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 768px) {
        display: grid;
        grid-template-columns: 320px 320px;
        column-gap: 40px;
        justify-content: center;
    }
    @media (min-width: 1024px) {
        column-gap: 150px;
    }
    @media (min-width: 1440px) {
        grid-template-columns: 320px 320px 320px;
        column-gap: 120px;
    }
    @media (min-width: 1920px) {
        grid-template-columns: 430px 430px 430px;
        column-gap: 120px;
    }
}

.portfolio-grid-item {
    width: 290px;
    margin-bottom: 75px;
    display: flex;
    flex-direction: column;
    @media (min-width: 768px) {
        width: 320px;
    }
    @media (min-width: 1920px) {
        width: 430px;
    }
}

.portfolio-grid-item h3 {
    margin-bottom: 8px;
    font-size: 22px;
    @media (min-width: 768px) {
        font-size: 26px;
    }
    @media (min-width: 1920px) {
        font-size: 34px;
    }
}

.portfolio-grid-item img {
    width: 290px;
    border-radius: 5px;
    @media (min-width: 768px) {
        width: 320px;
    }
    @media (min-width: 1920px) {
        width: 430px;
    }
}

.portfolio-grid-item span {
    margin-top: 12px;
    font-size: 14px;
    @media (min-width: 768px) {
        font-size: 18px;
    }
    @media (min-width: 1920px) {
        font-size: 20px;
    }
}

// FOOTER ------------------

footer {
    background-color: $bg2;
}

footer ul.nav-list {
    display: none;
}

.top img {
    width: 40px;
    position: fixed;
    bottom: 10px;
    right: 5px;
    z-index: 0;
}